/*Estilos-----------------------------------------------*/
* {
    font-family: 'Lato', sans-serif;
   
    background-size: cover;
    
    color: rgb(34, 87, 126);
}

 


/*Estilos-----------------------------------------------*/

/*Encabezado--------------------------------------------*/

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo>img {
    width: 100px;
    animation: 3s infinite logo_anim;
    background: transparent;
}

.marca{
    width: 100%;
    text-align: center;
}
@keyframes logo_anim {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}

/*Encabezado--------------------------------------------*/

/*Menu--------------------------------------------------*/
.contenedor_menu {
    display: flex;
    justify-content: center;
    background-color: rgb(149, 209, 204);
    margin: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.contenedor_menu div {
    margin: 10px;
    color: rgb(38, 87, 124);
    background-color: rgb(149, 209, 204);
}

.contenedor_menu div a:hover {
    color: rgb(229, 86, 4);
    background-color: rgb(85, 132, 172);
    font-weight: bolder;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.contenedor_menu div a {
    color: rgb(85, 132, 172);
    text-decoration: none;
    background-color: rgb(149, 209, 204);
    font-weight: bolder;
    margin: 10px;
    padding: 5px;
}

/*Menu--------------------------------------------------*/

/*Pie --------------------------------------------------*/


.pie p {
    background-color: rgb(149, 209, 204);
    margin: 5px;
    padding: 0px;
    border-radius: 10px;
    /*text-decoration: none;*/
}

.pie a {
    background-color: rgb(149, 209, 204);
    margin: 5px;
    padding: 0px;
    border-radius: 10px;
    /*text-decoration: none;*/
}

.pie div {
    background-color: rgb(149, 209, 204);
    margin: 5px;
    padding: 0px;
    border-radius: 10px;
    /*text-decoration: none;*/
}

/*Pie --------------------------------------------------*/

/*Contenedores Grid ------------------------------------*/

/*.container {
    display: grid;
    grid-template: auto auto auto auto auto / auto auto auto;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "article_1 article_1 article_1"
    "article_2 article_3 article_3"
    "footer footer footer";
}*/

.encabezado{grid-area: header;}
.contenedor_menu{grid-area: nav;}
.contenedor_article_1{
    grid-area: article_1;
    padding: 10px;
    /*border: 2px solid black;*/
    /*border-radius: 5px;*/
    /*background-color: green;*/
}
.contenedor_article_2{
    grid-area: article_2;
    padding: 10px;
    /*border: 2px solid black;*/
    /*border-radius: 5px;*/
    /*background-color: red;*/
}
.contenedor_article_3{
    grid-area: article_3;
    padding: 10px;
    /*border: 2px solid black;*/
    /*border-radius: 5px;*/
   /* background-color: yellow;*/
}
.pie{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: rgb(149, 209, 204);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
}
.logos_flex{
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    grid-template-areas:
    "cliente_1 cliente_2 cliente_3"
    "cliente_4 cliente_5 cliente_6"
    "cliente_7 cliente_8 cliente_9";
    /*border: 2px solid black;*/
    gap: 20px 20px;
    justify-content:center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.cliente_1{
    grid-area: cliente_1;
}
.cliente_2{
    grid-area: cliente_2;
}
.cliente_3{
    grid-area: cliente_3;
}
.cliente_4{
    grid-area: cliente_4;
}
.cliente_5{
    grid-area: cliente_5;
}
.cliente_6{
    grid-area: cliente_6;
}
.cliente_7{
    grid-area: cliente_7;
}
.cliente_8{
    grid-area: cliente_8;
}
.cliente_9{
    grid-area: cliente_9;
}
.cliente_1 img{
    width: 200px;
}
.cliente_2 img{
    width: 300px;
}
.cliente_3 img{
    width: 300px;
}
.cliente_4 img{
    width: 300px;
}
.cliente_5 img{
    width: 300px;
}
.cliente_6 img{
    width: 300px;
}
.cliente_7 img{
    width: 300px;
}
.cliente_8 img{
    width: 300px;
}
.cliente_9 img{
    width: 300px;
}


/*Diseño Responsive ------------------------------------*/

@media (max-width: 10000px) {
    .container {
        display: grid;
        grid-template: auto auto auto auto auto / auto auto auto;
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "article_1 article_1 article_1"
        "article_2 article_3 article_3"
        "footer footer footer";
    }
}

@media (max-width: 1600px) {
    .container {
        display: grid;
        grid-template: auto auto auto auto auto / auto auto auto;
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "article_1 article_1 article_1"
        "article_2 article_3 article_3"
        "footer footer footer";
    }
}

@media (max-width: 1300px) {
    .container {
        display: grid;
        grid-template: auto auto auto auto auto auto/ auto 60%;
        grid-template-areas:
        "header header"
        "nav nav"
        "article_1 article_1"
        "article_2 article_3"
        "article_2 article_3"
        "footer footer";
    }
    .cliente_1 img{
        width: 150px;
    }
    .cliente_2 img{
        width: 200px;
    }
    .cliente_3 img{
        width: 200px;
    }
    .cliente_4 img{
        width: 200px;
    }
    .cliente_5 img{
        width: 200px;
    }
    .cliente_6 img{
        width: 200px;
    }
    .cliente_7 img{
        width: 200px;
    }
    .cliente_8 img{
        width: 200px;
    }
    .cliente_9 img{
        width: 200px;
    }
}

@media (max-width: 900px) {
    .container {
        display: grid;
        grid-template: auto auto auto auto auto auto/ auto;
        grid-template-areas:
        "header"
        "nav"
        "article_1"
        "article_2"
        "article_3"
        "footer";
    }
    .cliente_1 img{
        width: 100px;
    }
    .cliente_2 img{
        width: 150px;
    }
    .cliente_3 img{
        width: 150px;
    }
    .cliente_4 img{
        width: 150px;
    }
    .cliente_5 img{
        width: 150px;
    }
    .cliente_6 img{
        width: 150px;
    }
    .cliente_7 img{
        width: 150px;
    }
    .cliente_8 img{
        width: 150px;
    }
    .cliente_9 img{
        width: 150px;
    }
}

/*Diseño Responsive ------------------------------------*/


/* Estilo para el encabezado */
h3{
    font-size: 24px;
    text-align: center;
    color: black;
    margin: 20px 0;
}

h4,h5{
    font-size: 18px;
    text-align: left;
    color: black;
    margin: 20px 0;
}

/* Estilo para las etiquetas de los campos ------------------------------------*/
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

/* Estilo para los campos de textos------------------------------------ */
input[type="text"],
input[type="email"],
textarea {
    width: 200%;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
}

/* Estilo para los mensajes de error ------------------------------------*/
.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    display: none;
}

/* Estilo para el botón de envío------------------------------------ */
button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    
}

button:hover {
    background-color: #0056b3;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* fondo al formulario */

form {
    /*max-width: 300px;*/
    margin: auto auto;
    min-height: auto;
    width: auto;
    background: center / contain no-repeat url(./2.JPG)  ;
    background-size: cover;
    }

    /* Estilo Api  */
.contenedor_article_2-index {
    font-size: 23px;
    min-width: 50%;
    margin: 0 auto;
    text-align: center;
}
/*
.container {
    display: flex;
    justify-content: space-between;
}

.form-container {
    width: 70px;
}*/

.image-container {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 0.9;
}

.form_1{
    grid-area: form1;
    /*max-width: 50%;*/
}
.form_2{
    grid-area: form2;
    /*max-width: 50%;*/
}
.form_3{
    grid-area: form3;
    /*max-width: 50%;*/
}
.form_4{
    grid-area: form4;
}
.contenedor_article_4{
    grid-area: article_4;
    margin-left: 30px;
    padding: 10px;
}
.contenedor_article_5{
    grid-area: article_5;
}
.contenedor_article_6{
    grid-area: article_6;
}
.contenedor_form{
    display: grid;
    grid-template: auto auto auto auto/ 500px;
    grid-template-areas:
    "form1"
    "form2"
    "form3"
    "form4";
    border: 2px solid black;
    gap: 5px 5px;
    justify-content: left;
    justify-items: left;
    align-content: center;
    align-items: center;
    padding: 10px;
    
}

@media (max-width: 10000px) {
    .container_form {
        display: grid;
        grid-template: auto auto auto auto auto / 50% 50%;
        grid-template-areas:
        "header header"
        "nav nav"
        "article_4 article_4"
        "article_5 article_6"
        "footer footer";
    }
}

@media (max-width: 1300px) {
    .container_form {
        display: grid;
        grid-template: auto auto auto auto auto / 50% 50%;
        grid-template-areas:
        "header header"
        "nav nav"
        "article_4 article_4"
        "article_5 article_6"
        "footer footer";
    }
}

@media (max-width: 1065px) {
    .container_form {
        display: grid;
        grid-template: auto auto auto auto auto auto/ auto;
        grid-template-areas:
        "header"
        "nav"
        "article_4"
        "article_5"
        "article_6"
        "footer";
    }
}